<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{cliente.nome}} - Clientes - Jocicar</title>
  </head>
  <body>
    <ul>
        <li>{{cliente.nome}}</li>
        <li>{{cliente.cpf}}</li>
    </ul>
  </body>
</html>