<html data-theme='light'>
  <head>
    <meta charset='utf-8' />
    <title>{{cliente.nome}} - Clientes - Jocicar</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <link
      href='https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css'
      rel='stylesheet'
      type='text/css'
    />
  </head>
  <body>
    <ul>
      <li>{{cliente.nome}}</li>
      <li>{{cliente.cpf}}</li>
    </ul>
  </body>
</html>